* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 80rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    height: 25rem;
    max-width: 32rem;

}

.sedan-section {
    background-color: #E38826;
    border-radius: 10px 10px 0 0;
}

.suv-section {
    background-color: #006970;
}

.luxury-section {
    background-color: #004241;
    border-radius: 0 0 10px 10px;
}


section img {
    width: 4rem;
}

section h1 {
    color: white;
}

section p {
    color: #c9d1d1;
    line-height: 1.5rem;
}


section button {
    border: 2px solid transparent;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 0.9rem;
    font-weight: bold;
    width: 60%;
    mix-blend-mode: screen;
    max-width: 12rem;

}

section button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

@media (min-width:768px) {
    body {
        height: 100vh;
    }

    main {
        flex-direction: row;
    }

    .sedan-section {
        border-radius: 10px 0 0 10px;
    }

    .luxury-section {
        border-radius: 0 10px 10px 0;
    }
}